* {
box-sizing: border-box;
}
/********************
Header Layout
********************/
/* ---- Header and Navigation ----*/
header {
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: center;
  height: 70vh;
  opacity: .7;
}
.contanier {
  position: relative;
}
.contanier::after{
  content: "";
  clear: both;
  display: block;
}
.main-nav {
  position: absolute;
  background-color: #464655;
  top: 8%;
  right: 0%;
  height: 0;
  overflow: hidden;
  width: 50%;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav li{
  color: #fff;
  border-bottom: 1px solid #575766;
  padding: 20px;
}
.main-nav li:last-child{
  border-bottom: none;
}
.main-nav a {
  color: white;
  display: block;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform .4s ease;
}
.main-nav a:hover,
.main-nav a:focus{
  background-color: #e4b363;
  color:black;
  transform: scale(1.1);
}
 a:visited {
   color: inherit;
 }
/***********************
 Burger menu
 **********************/
.menu-toggle {
  padding: 2em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background-color: black;
  height: 3px;
  width: 1.75em;
  border-radius: 4px;
  transition: all ease-in-out 400ms;
}
.hamburger::before{
  transform: translateY(-6px);
}
.hamburger::after{
  transform: translateY(4px);
}
.main-nav--open {
  height: auto;
}
.open .hamburger {
  transform: rotate(45deg);
  margin-left: 20px;
}
.open .hamburger::before{
  opacity: 0;
}
.open .hamburger::after{
  transform: translateY(-4px) rotate(-90deg);
}
/*End of burger menu*/
/*******************
Downarrow
***********************/
.hireMe {
 position: absolute;
 left: 1%;
 bottom: 30%;
 font-family: cursive;
 font-size: 18px;
 color: #3f2602;
   }
.hireMe::after {
  content: "";
  position: absolute;
  border-top: 40px solid black;
  border-top-color: inherit;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
   }
.hireMe a{
  text-decoration: none;
  color: #50340d;
}
.hireMe a:hover {
  color: red;
  cursor: pointer;
  transition: color .5s esse-in .4s;
}
/**End of Downarrow **/
/**********************
Body layout
***********************/
.Wrapper {
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #3a3a3a;
}
/**********************
Sections Menu
***********************/
.slider {
  width: 90%;
  margin: 50px auto;
  height: 22vh;
  font-size: 1.1em;
  text-align: center;
  background-color: #e0e0e0;
}
.sections {
  text-align: justify;
}
.sections p {
  width: 90%;
  margin: auto;
}
.sections h1{
  text-align: center;
  color: #50340d;
}
.sections:nth-child(2){ /* Section About me */
  color: black;
  font-size: 1.1em;
  text-shadow: 1px 1px #fff;
  margin: 20px;
  padding: 30px 40px;
  border-top: 1px solid #979494;
  border-bottom: 1px solid #979494;
}
.myImg {
  display: block;
  width: 140px;
  height: 140px;
  margin: 15px auto;
  border-radius: 50%;
}
 /*End of Section about me */
.sections:nth-child(3){ /* Section Publication */
 background-image: url('../img/Publication.png');
 font-size: 14px;
 margin:0 30px;
 padding: 20px 40px;
 color: #fff;
 box-shadow: 5px 5px 5px 5px #524E4E;
}
.BoxPublication > p::first-letter {
font-size: 40px;
color: #fff;
margin-left: 2em;
}
.BoxPublication img {
  width: 12em;
  height: 15em;
  margin-left: 30%;
  margin-bottom: 3%;
  transition: transform .5s cubic-bezier(.7, -0.39, .31, 1.38);
}
.BoxPublication img:hover{
transform: rotate(-5deg) scale(1.1);
}
/* End Section Publication */
.sections:nth-child(4){ /* Start Section Projects */
  margin: 30px;
  height: 65vh;
  border-top: 1px solid #979494;
}
 /* Projects slider */
 .slider2 {
 display: block;
 margin: auto;
 height: 50vh;
 width: 90%;
 font-size: .8em;
 font-style: ;
 text-align: center;
 background-color: #E0E0E0;
 text-align: left;
}
 .slider2 {
 /* Add shadows to create the "card" effect */
  box-shadow: 5px 5px 5px 5px #524E4E;
  border-radius: 5px;
  margin-bottom: 25px;
 }
 .card_container{
  width: 80%;
  margin: auto;
 }
 .Project_Des{
   color: #921B09;
   font-size: 1.2em;
 }
  .card > h3 {
  text-align: center;
  color: #663300;
  }
 .card > img {
   display: block;
   width: 150px;
   height: 150px;
   margin: 10px auto;
 }
/* End Section Projects */
/*******************
 Fixed link on the site
*******************/
.fixed_contact {
  box-shadow: 1px 2px 5px #000;
  background-color: #9900cc;
  color: #fff;
  border-radius: 10px;
  position: fixed;
  bottom: 17%;
  right: 0;
  padding: 5px;
}
/* End of  fixed link style*/
/*****************
 footer
 ******************/
.main-footer {
  position: relative;
  font-family: sans-serif;
  background-color: #282626;
  height: 30vh;
  width: 100%;
  color: #fff;
}
.contact-Container {
  position: absolute;
  top: 12%;
  left: 2%;
  width: 35%;
}
.contact-Container > h1 {
  margin-left: 18px;
  color: tomato;
  font-size: 1.1em;
}
.contact-Container li{
  list-style: none;
}
.contact-Container a {
  text-decoration: none;
  color: #fff;
}
.contact-Container a:hover {
  color: green;
}
.copy,
.SMedia,
#top {
  color: #fff;
}
.SMedia {
  position: absolute;
  top: 20%;
  left: 70%;
  width: 20%;
}
.copy {
  position: absolute;
  bottom: 10%;
  left: 40%;
  font-size: 12px;
}
#top {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#top > a{
  text-decoration: none;
  color: #fff;
}
#top a:hover{
  color: #45a049;
  cursor: pointer;
}
/**************************
Media Que.
***************************/
@media only screen and (min-width: 768px),
 only screen and (min-width: 700px) and
(orientation: landscape) {
/* Page Header Styel*/
.menu-toggle {
   display: none;
}
.Wrapper{
  width: 85%;
  margin: auto;
}
.contanier{
  position: relative;
}
.main-nav  {
  height: 33px;
  position: absolute;
  top: 5%;
  right: 0%;
  width: 50%;
  background-color: #994c00;
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
}
.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.main-nav li{
  display: inline-block;
  border-right: 1px solid #fff;
  font-size: 15px bold;
  color: #fff;
  text-shadow: 3px;
  padding: 3px;
  width: 100%;
  margin: auto;
}
.main-nav li:last-child{
  border-right: none;
}
.main-nav a{
  padding: 5px;
}
.main-nav a:hover,
.main-nav a:focus{
  background-color: inherit;
  transform: scale(1.1);
}
.main-nav a {
  transition: none !important;
}
/*End Header page*/
/******************
Sections Body Style
*******************/
.slider {
  width: 75%;
  font-size: 1.2em;
}
.sections {
  padding: 0 25px;
}
.sections p{
  width: 90%;
  margin: auto;
}
.sections:nth-child(3){ /* Section Publication */
  margin: auto;
}
/******************
FOOTER Style
*******************/
.main-footer {
  padding: 10px;
}
.SMedia {
  width: 35%;
  margin-left: -90px;
  margin-top: 40px;
}
.copy {
  position: absolute;
  bottom: 5%;
  left: 45%;
  font-size: 12px;
}
#top {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
/*End of media Querie 768px*/

@media only screen and (min-width: 1025px){
.Wrapper{
  width: 70%;
  margin: auto;
}
.slider {
  font-size: 1.3em;
}
.sections {
  padding: 0 40px;
}
.sections p{
  width: 60%;
  margin: auto;
}
.sections:nth-child(2) { /* Section About Me */
  position: relative;
}
.myImg {
  position: absolute;
  top: 30%;
  left: 2%;
  margin-right: 20px;
}
.sections:nth-child(3){ /* Section Publication */
  position: relative;
  height: 60vh;
  margin-bottom: 100px;
}
.BoxPublication > h1{
  margin-bottom: 10%;
  color: #fff;
}
.BoxPublication > p {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 45%;
}
.BoxPublication > img {
  position: absolute;
  top: 30%;
  left: -20%;
  height: 20em;
  width: 15em;
  margin-top: -30px;
  padding: 10px;
  border: 1px 1px lightgrey;
}
.sections:nth-child(4){ /* Section Projects */
  position: relative;
  height: 60vh;
  margin: auto;
  text-align: center;
}
/******************
FOOTER Style
*******************/
.main-footer {
  position: relative;
  padding: 10px 10px 10px 100px;
  margin-top: 30px;
}
.SMedia {
  position: absolute;
  bottom: 35%;
  left: 50%;
  width: 50%;
}
.copy {
  position: absolute;
  bottom: 20%;
  left: 49%;
  font-size: 13px;
}
#top {
  position: absolute;
  right: 20px;
  bottom: 12px;
}
/*End of media Querie 1025px*/
